@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }
  
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary-500/20;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .glass {
    @apply bg-zinc-900/60 backdrop-blur-xl border border-white/5;
  }
}
